
<h2>Products List</h2>
<table class="tbl">
    <thead>
        <tr><th>ID</th><th>Name</th><th>Description</th><th>Price</th><th>Stock</th></tr>
    </thead>
    <tbody>
        <% products.map(p => { %>
        <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><%= p.price %></td>
        <td><%= p.quantity %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
